Django==1.4.2
distribute==0.6.24
django-abstract-templates==1.0.0
django-appconf==0.5
django-staticfiles==1.2.1
django-staticfiles-jquery==1.8.1
django-staticfiles-timelinejs-static==v2.18
factory-boy==1.2.0
dj-settings-helpers==1.0.0
